.signup-con {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  flex-direction: column;
  padding: 0 2rem;
  text-align: left;
}
.signup-title {
  font-weight: bold;
  color: rgb(108, 83, 216);
}
.signup-input {
  margin-bottom: 1.25rem !important;
}

.signup-btn {
  margin: 1rem 0 !important;
}

.signup-date-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
